{
    "comments": [
        { 
            "suffix": "rb",
            "begin": "#"
        },
        { 
            "suffix": "erb",
            "begin": "<%#= ",
            "end": "%>"
        },
        { 
            "suffix": "tsx",
            "begin": "//"
        }
    ]
}
